<div id="jumbotronExample1" class="jumbotron jumbotron-fluid bg-dark">
  <div class="jumbotron-background">
    <img src="" class="blur ">
  </div>
    <div class="container text-white">
      <h1 class="display-4">Let Us Know</h1>
      <p class="lead">Please post your queries here, we are glad to serve you.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
</div>

<div id="jumbotronExample2" class="jumbotron jumbotron-fluid bg-dark">
  <div class="jumbotron-background">
    <img src="" class="blur ">
  </div>
    <div class="container text-white">
      <h1 class="display-4">What We Offer</h1>
      <p class="lead">We greatly value the trust you place in ULearn. Please rest assured that our focus and commitment during your learning jouney remains on serving you. </p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
</div>

<div id="jumbotronExample3" class="jumbotron jumbotron-fluid bg-dark">
  <div class="jumbotron-background">
    <img src="" class="blur ">
  </div>
    <div class="container text-white">
      <h1 class="display-4">History</h1>
      <p class="lead">It all began with a knowledge transfer portal requirement in 2020. Our website has served more than 10,000 employees.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
</div>

<div id="jumbotronExample4" class="jumbotron jumbotron-fluid bg-dark">
  <div class="jumbotron-background ">
    <img src="" class="blur">
  </div>
    <div class="container text-white">
      <h1 class="display-4">Contributors | Learners</h1>
      <p class="lead">Together we grow.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
</div>
