
<!--
<div class="container">
  <div class="row row-cols-3 row-cols-md-4" id="pgmcourses">
      <div *ngFor="let entry of pgmcourses">
          <div class="col mb-4">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                      <img src={{entry.PImage}} class="card-img-top" style="height: 10rem">
                      <div class="card-body">
                          <h5 class="card-title">{{entry.PTopic}}</h5>
                          
                          <p class="card-text">{{entry.PDescription}}</p>
                          <button type="button" class="btn btn-success">Goto Course</button>
                      </div>
              </div>
          </div>
      </div>
  </div>
</div>

-->
<!--enrolled courses...........-->

<br>


<!--Category 1..................-->
<div class="container">
  <div >
      <h4 class="text-success">Progrmming Language</h4>
      <p class="text-success">Learn Programing Language  at your own pace.Become an expert</p>
      <hr  style="border:1px solid rgb(18, 218, 35) ; ">
  </div>
  <br>
  <br>
<!--Carousel Wrapper-->
   <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel" >
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example2" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example2" data-slide-to="1"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="col-md-3" style="float:left">
       <div class="card mb-2">
         <div class="card mx-auto" style="width: 16rem; height: auto">
           <img class="card-img-top" src="/assets/images/c++.jpg" alt="Card image cap"style="height: 10rem">
              <div class="card-body">
                 <h5 class="card-title">C++ Tutorial</h5>
                 <p class="card-text">Learn and practice C++ Tutorial with ULearn </p>
                 <button type="button" class="btn btn-success" >Goto Course</button>
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <div class="card mx-auto" style="width: 16rem; height: auto">
               <img class="card-img-top" src="/assets/images/Ruby-Prgramming.jpg" alt="Card image cap"style="height: 10rem">
                 <div class="card-body">
                    <h5 class="card-title"> Ruby Tutorial</h5>
                    <p class="card-text">Learn and practice Rubby Tutorial with ULearn  </p>
                    <button type="button"  class="btn btn-success">Goto Course</button>
                 </div>
             </div>
          </div>
      </div>

      <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <div class="card mx-auto" style="width: 16rem; height: auto">
               <img class="card-img-top" src="/assets/images/jjjava.jpg" alt="Card image cap"style="height: 10rem">
                 <div class="card-body">
                    <h5 class="card-title">Java Tutorial</h5>
                    <p class="card-text">Learn and practice Java Tutorial with ULearn </p>
                    <button type="button" class="btn btn-success">Goto Course</button>
                 </div>
             </div>
           </div>
      </div>
      
      <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <div class="card mx-auto" style="width: 16rem; height: auto">
               <img class="card-img-top" src="/assets/images/cccc.png" alt="Card image cap"style="height: 10rem">
                 <div class="card-body">
                  <h5 class="card-title">C# Tutorial</h5>
                  <p class="card-text">Learn and practice C# Tutorial with ULearn </p>
                    <button type="button" class="btn btn-success">Goto Course</button>
                 </div>
             </div>
          </div>
      </div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <div class="card mx-auto" style="width: 16rem; height: auto">
               <img class="card-img-top" src="/assets/images/kotlin.png" alt="Card image cap"style="height: 10rem">
                 <div class="card-body">
                  <h5 class="card-title">Kotlin</h5>
                  <p class="card-text">Learn and practice Kotlin Proramming with ULearn</p>
                    <button type="button" class="btn btn-success">Goto Course</button>
                 </div>
             </div>
          </div>
      </div>

      <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <div class="card mx-auto" style="width: 16rem; height: auto">
               <img class="card-img-top" src="/assets/images/cpgm.jpg" alt="Card image cap"style="height: 10rem">
                 <div class="card-body">
                  <h5 class="card-title">C Tutorial</h5>
                    <p class="card-text">Learn and practice C Tutorial with ULearn</p>
                    <button type="button" class="btn btn-success">Goto Course</button>
                 </div>
             </div>
          </div>
      </div>

      <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <div class="card mx-auto" style="width: 16rem; height: auto">
               <img class="card-img-top" src="/assets/images/swift.png" alt="Card image cap"style="height: 10rem">
                 <div class="card-body">
                  <h5 class="card-title">Swift 4 Fundamentals</h5>
                  <p class="card-text">Learn and practice Swift 4 Fundamentals with ULearn </p>
                    <button type="button" class="btn btn-success">Goto Course</button>
                 </div>
             </div>
          </div>
      </div>
      
      <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <div class="card mx-auto" style="width: 16rem; height: auto">
               <img class="card-img-top" src="/assets/images/python.png" alt="Card image cap"style="height: 10rem">
                 <div class="card-body">
                  <h5 class="card-title">Python Tutorial</h5>
                  <p class="card-text">Learn and practice Python Tutorial with ULearn </p>
                    <button type="button" class="btn btn-success">Goto Course</button>
                 </div>
             </div>
          </div>
      </div>

    </div>
    <!--/.Second slide-->
  </div>
  <!--/.Slides-->
  <a class="carousel-control-prev" href="#multi-item-example2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
      <span class="sr-only ">Previous</span>
  </a>
  <a class="carousel-control-next" href="#multi-item-example2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a> 

</div>
</div>
<!--/.Carousel Wrapper-->

<br>
<br>
















<!--category A....................-->
<div class="container">
    <div >
        <h4 class="text-success">Become a Data Scientist</h4>
        <p class="text-success">Learn  Data Scientist  at your own pace.Become an expert</p>
        <hr  style="border:1px solid rgb(18, 218, 35) ; ">
    </div>
    <br>
    <br>
<!--Carousel Wrapper-->
     <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" >
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
  
        <div class="col-md-3" style="float:left">
         <div class="card mb-2">
           <div class="card mx-auto" style="width: 16rem; height: auto">
             <img class="card-img-top" src="/assets/images/mlcard.png" alt="Card image cap"style="height: 10rem">
                <div class="card-body">
                   <h5 class="card-title">Machine Lerning</h5>
                   <p class="card-text" >Learn and practice with ULearn Data Science with Machine Lerning</p>
                   <button type="button" class="btn btn-success">Goto Course</button>
                </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/datscincepython.jpg" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                      <h5 class="card-title"> Data Science with Python</h5>
                      <p class="card-text"> Learn with ULearn Data Science with Python </p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
  
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/python.jpg" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                      <h5 class="card-title">Python 3 Tutorial</h5>
                      <p class="card-text">Learn with ULearn Data Science with Python 3 Tutorial!</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
             </div>
        </div>
        
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/sql fun.jpg" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                      <h5 class="card-title">SQL Fundamentals</h5>
                      <p class="card-text">Learn and practice SQL immediately, with SoloLearn’s FREE SQL tutorial!</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
  
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/mlcard.png" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                      <h5 class="card-title">Machine Lerning</h5>
                      <p class="card-text">Learn and practice immediately, with ULearn FREE Macine Learning!</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
  
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/data-science.jpg" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                      <h5 class="card-title">Data Science with Python</h5>
                      <p class="card-text"> Learn  with ULearn Data Science with Python</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
  
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/python.jpg" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                      <h5 class="card-title">Python 3 Tutorial</h5>
                      <p class="card-text">Learn and practice immediately, with ULearn FREE Python 3 tutorial! </p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
        
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/sql fun.jpg" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                      <h5 class="card-title">SQL Fundamentals</h5>
                      <p class="card-text">Learn and practice SQL immediately, with ULearn FREE SQL tutorial!</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
  
      </div>
      <!--/.Second slide-->
    </div>
    <!--/.Slides-->
    <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
        <span class="sr-only ">Previous</span>
    </a>
    <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> 

  </div>
</div>
  <!--/.Carousel Wrapper-->

 <!--Category B............--> 
<br>
 <br>

<div class="container">
    <div >
        <h4 class="text-success">Become a Web Developer</h4>
        <p class="text-success">Learn web development at your own pace.Become an expert</p>
        <hr  style="border:1px solid rgb(18, 218, 35) ; ">
    </div>
    
    <br>
<!--Carousel Wrapper-->
     <div id="multi-item-example1" class="carousel slide carousel-multi-item" data-ride="carousel" >
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example1" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example1" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
  
        <div class="col-md-3" style="float:left">
         <div class="card mb-2">
           <div class="card mx-auto" style="width: 16rem; height: auto">
             <img class="card-img-top" src="/assets/images/html.png" alt="Card image cap"style="height: 10rem">
                <div class="card-body">
                   <h5 class="card-title">HTML Fundamentals</h5>
                   <p class="card-text">Learn and practice with ULearn Web Developer with HTML Fundamentals</p>
                   <button type="button" class="btn btn-success">Goto Course</button>
                </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/css.png" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                      <h5 class="card-title"> CSS Fundamentals</h5>
                      <p class="card-text">Learn and practice with ULearn Web Developer with CSS Fundamentals </p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
  
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/js.png" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                      <h5 class="card-title">Java Script Tutorial</h5>
                      <p class="card-text">Learn and practice with ULearn Web Developer with Java Script Tutorial</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
             </div>
        </div>
        
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/jq.jpg" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                    <h5 class="card-title">jQuery Tutorial</h5>
                    <p class="card-text">Learn and practice with ULearn Web Developer with jQuery Tutorial</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
  
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/html.png" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                    <h5 class="card-title">HTML Fundamentals</h5>
                    <p class="card-text">Learn and practice with ULearn Web Developer with HTML Fundamentals</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
  
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/jjs.jpg" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                    <h5 class="card-title">Java Script Tutorial</h5>
                      <p class="card-text">Learn and practice with ULearn Web Developer with Java Script Tutorial</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
  
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/css.png" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                    <h5 class="card-title">CSS Fundamentals</h5>
                    <p class="card-text">Learn and practice with ULearn Web Developer with CSS Fundamentals</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
        
        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <div class="card mx-auto" style="width: 16rem; height: auto">
                 <img class="card-img-top" src="/assets/images/jq.jpg" alt="Card image cap"style="height: 10rem">
                   <div class="card-body">
                    <h5 class="card-title">jQuery Tutorial</h5>
                    <p class="card-text">Learn and practice with ULearn Web Developer with jQuery Tutorial</p>
                      <button type="button" class="btn btn-success">Goto Course</button>
                   </div>
               </div>
            </div>
        </div>
  
      </div>
      <!--/.Second slide-->
    </div>
    <!--/.Slides-->
    <a class="carousel-control-prev" href="#multi-item-example1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
        <span class="sr-only ">Previous</span>
    </a>
    <a class="carousel-control-next" href="#multi-item-example1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> 

  </div>
</div>
  <!--/.Carousel Wrapper-->

 <!--Category C............--> 


 