<div class="row center-align">
    <div class="col justify-content-center">
        <div class="card mx-auto" style="width: 18rem; height: auto">
            <img class="card-img-top" src="/assets/images/quizcard.jpg" alt="Card image cap" style="height: 10rem">
            <div class="card body">
                <h5 class="card-title text-center">Quiz</h5>
                <p class="card-text text-center">Participate and earn extra badges.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Organize</a></li>
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Participate</a></li>
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Results</a></li>
            </ul>
        </div>
    </div>
    <div class="col justify-content-center">
        <div class="card mx-auto" style="width: 18rem; height: auto">
            <img class="card-img-top" src="/assets/images/coursecard.jfif" alt="Card image cap" style="height: 10rem">
            <div class="card body">
                <h5 class="card-title text-center">Courses</h5>
                <p class="card-text text-center">Have a fruitful learning journey.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Developer</a></li>
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Personal Development</a></li>
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Business Analytics</a></li>
            </ul>
        </div>
    </div>
    <div class="col justify-content-center">
        <div class="card mx-auto" style="width: 18rem; height: auto">
            <img class="card-img-top" src="/assets/images/idecard.jpg" alt="Card image cap" style="height: 10rem">
            <div class="ribbon ribbon-top-left"><span>Upcoming</span></div>
            <div class="card body">
                <h5 class="card-title text-center">IDE</h5>
                <p class="card-text text-center">Practice makes a man perfect. Get Set Go!</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Visual Studio</a></li>
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Eclipse</a></li>
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> pyCharm</a></li>
            </ul>
        </div>
    </div>
    <div class="col justify-content-center">
        <div class="card mx-auto" style="width: 18rem; height: auto">
            <img class="card-img-top" src="/assets/images/cert.jpg" alt="Card image cap" style="height: 10rem">
            <div class="card body">
                <h5 class="card-title text-center">Certifications</h5>
                <p class="card-text text-center">Become a professional developer.</p>
           </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Most Rated</a></li>
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Enroll</a></li>
                <li class="list-group-item"> <a href="https://www.w3schools.com/"> Exam</a></li>
            </ul>
        </div>
    </div>
</div>